@import url('https://fonts.googleapis.com/css2?family=Passions+Conflict&family=Poppins:ital@1&family=Roboto:wght@300;400&display=swap');

body{
    overflow: hidden;
    background-color: #477879;
    font-family: 'Passions Conflict', cursive;
}

.box{
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -80%);
    width: 5rem;
    height: 5rem;
}

.box::before{
    content: "";
    position: absolute;
    background-color: rgba(165, 42, 42, 0.733);
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    clip-path: polygon(0 40%, 50% 0, 100% 40%, 100% 100%, 0 100%);

}

.box::after{
    content: "";
    width: 5rem;
    height: 1rem;
    background-color: black;
    position: absolute;
    bottom: -30%;
    left: 0;
    opacity: 0.25;
    filter: blur(7px);
}

.letter{
    background-color: antiquewhite;
    width: 3.5rem;
    height: 3.5rem;
    position: absolute;
    left: 50%;
    bottom: 10%;
    transform: translate(-50%, -10%);
    transition: 0.5s;
}

.designBox{
    position: absolute;
    width: 100%;
    height: 3rem;
    background-color: rgba(165, 42, 42, 0.946);
    bottom: 0;
    left: 0;
    display: block;
    clip-path: polygon(0 0, 50% 35%, 100% 0, 100% 100%, 0 100%);
    cursor: pointer;
}

.designBox::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 2rem;
    background-color: brown;
    bottom: 0;
    left: 0;
    display: block;
    clip-path: polygon(0 100%, 50% 0, 100% 100%);
}

.box:hover .letter{
    transform: translate(-50%, -30%);
}

input{
    opacity: 0;
    margin-top: 1rem;
}

input:checked ~ .letter{
    bottom: 150px;
    width: 20rem;
    height: 23rem;
    margin: 0;
    left: 50%;
    transform: translate(-50%);
}

.letter img{
    width: 100%;
    height: auto;
    object-fit: cover;
    display: inline-block;
    display: none;
}

.letter.describe{
    display: none;
}

.describe{
    margin-top: 20px;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    display: none;
}

input:checked ~ .letter img,
input:checked ~ .letter .describe{
    display: block;
    opacity: 0;
    animation: show 1s ease-in-out 0.5s 1 forwards;
}

@keyframes show{
    from{
        opacity: 0;
        transform: translate(0, 50px);
    }to{
        opacity: 1;
        transform: translate(0,0);
    }
}